
@{
    Layout = null;  // Tắt layout cho trang này
}
@{
    var prod = ViewBag.Detail;
    var image = ViewBag.Image;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/reset/reset.css">
    <link rel="stylesheet" href="~/assets/fonts/stylesheet.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/pages/home.css">
    <link rel="stylesheet" href="~/assets/css/layout/modal.css">
    <link rel="stylesheet" href="~/assets/css/pages/productDetail.css">
    <link rel="stylesheet" href="~/assets/css/layout/header.css">
    <link rel="stylesheet" href="~/assets/css/layout/footer.css">
    <link rel="stylesheet" href="~/assets/css/layout/breadcrumb.css">
    <link rel="shortcut icon" href="~/assets/images/favicons/favicon_logo.png" type="image/x-icon">
    <title>Chi tiết sản phẩm</title>
</head>

<body>
    <div class="container">

        @Html.Partial("_Header")
        <!-- end header  -->


        <div class="body_home">
            <div class="main_container">
                <div class="breadcrumb">
                    <ul>
                        <li> <a href="">Ghế</a> </li>
                        <li>/</li>
                        <li><a href="">Ghế Sofa</a></li>
                    </ul>
                </div>

                <div class="product_name">
                    <h1>@prod.Name</h1>

                </div>
                <div class="product_name_rating">
                    <ul>
                        <li>
                            <p>Đã bán:
                            <p>779</p>
                        </li>
                        <li>
                            <p><i class="fa-solid fa-star"></i> </p>
                            <p>4.5</p>

                        </li>
                        <li>
                            <p><i><i class="fa-solid fa-ruler "></i></i></p>

                            <p>Thông số</p>

                        </li>
                    </ul>



                </div>
                <div class="product_detail">
                    <div class="
                    left">

                        <div class="img_slider  bg-while alpha">
                            <div class="img_slider-main">


                                <div class="img_control-previous">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                                <div class="img_control-next">
                                    <i class="fa-solid fa-chevron-right"></i>

                                </div>

                                <img class="img-feature"
                                     src="@prod.Thumbnail"
                                     alt="img">
                            </div>
                            <div class="list_img list_img-center">

                                @foreach(var i in image){ 

                                
                                 <div> 
                               <img src="@i.Image" 
                                      alt="img"> 
                               </div> 
                               
                              }

                            </div>

                        </div>

                        <div class="policy alpha bg-while">
                            <div class="policy_title">
                                <h2>Baya cam kết</h2>
                            </div>
                            <div class="policy_list">
                                <div class="policy_detail">
                                    <img src="https://cdnv2.tgdd.vn/pim/cdn/images/202411/icon%20bao%20hanh173451.png"
                                         alt="">
                                    <p>Đảm bảo nguồn gốc xuất xứ rõ ràng, chất liệu an toàn, bền đẹp.</p>
                                </div>
                                <div class="policy_detail">
                                    <img src="https://cdnv2.tgdd.vn/pim/cdn/images/202410/icon%20lap%20dat140848.png"
                                         alt="">
                                    <p>Lắp đặt miễn phí lúc nhận hàng</p>
                                </div>
                                <div class="policy_detail">
                                    <img src="https://cdnv2.tgdd.vn/pim/cdn/images/202410/Exchange150303.png" alt="">
                                    <p>Quy trình đổi trả nhanh chóng, minh bạch.</p>
                                </div>

                            </div>
                        </div>
                        <div class="product_content alpha bg-while">

                            <div class="content_name ">
                                <h3 onclick="">Thông số kĩ thuật</h3>
                                <h3 onclick="showContent('@ViewBag.id')">Bài viết đánh giá</h3>





                            </div>
                            <div class="content_blog " id="content_blog">

                                <div class="content_blog-item">


                                    <button class="item-name" onclick="clickContentItem()">
                                        <h3>Tổng quan</h3> <i class="fa-solid fa-chevron-right fa-rotate-90"></i>
                                    </button>
                                    <div class="item-main">
                                        <ul>
                                            <li>
                                                <h3>Mã sản phẩm: </h3>
                                                <p>@prod.ProductId</p>
                                            </li>
                                            <li>
                                                <h3>Kích thước: </h3>
                                                <p>Dài 180cm x Rộng 85cm x Cao 82cm</p>
                                            </li>
                                        
                                            <li>
                                                <h3>Xuất xứ: </h3>
                                                <p>Việt Nam</p>
                                            </li>
                                            <li>
                                                <h3>Tiêu chuẩn: </h3>
                                                <p>California Air Resources Board xuất khẩu Mỹ.</p>
                                            </li>
                                        </ul>
                                    </div>


                                </div>

                            </div>
                            <div class="content_blog-rating remove" id="content_blog-rating">
                                <p>
                                    @prod.Description
                                </p>
                            </div>

                        </div>
                        


                    </div>
                    <div class="block_right omega bg-while">
                        <a class="banner_sale " href="https://zalo.me/0869380447">
                            <img src="https://cdnv2.tgdd.vn/mwg-static/dmx/Banner/79/61/796197adf9f0c2d5cadb6a2c2679358a.png"
                                 alt="banner">
                        </a>
                        <div class="block_price">
                            <p class="price-present">  @prod.FormatPrice(@prod.getPriceAfterDiscount())<sup></sup></p>
                            <p class="price-old">@prod.FormatPrice(@prod.Price) <sup></sup></p>
                            <p class="price-percent">@prod.DiscountDefault%</p>

                        </div>
                        
                        <div class="block_buy">
                            <a class="btn_add-cart buy_now" href="cart.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <p>Thêm vào giỏ hàng</p>
                            </a>
                            <a class="btn_buynow buy_now" href="form_checkout.html">
                                <p>Mua Ngay</p>
                            </a>
                        </div>
                        <div class="block_call">
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:0869380448">0869 380 448</a>
                            <p>(8:00 - 21:30)</p>
                        </div>
                        <div class="block_store">
                            <i class="fa-solid fa-shop"></i>
                            <a href="storeAddress.html">Xem các cửa hàng của Baya</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <!-- footer  -->
        @Html.Partial("Footer")
        <!-- end footer  -->
    </div>
    <div class="modal" id="modal">
        <div class="modal_overlay" onclick="closeCategory()">
        </div>
        <div class="modal_body-category">
            <div class="top_menu">
                <ul>
                    <li>
                        <div class="menu_category" data-category="phong-lam-viec">
                            <p>Phòng làm việc</p>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </li>
                    <li>
                        <div class="menu_category" data-category="phong-khach">
                            <p>Phòng khách</p>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </li>
                    <li>
                        <div class="menu_category" data-category="phong-ngu">
                            <p>Phòng ngủ</p>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </li>
                    <li>
                        <div class="menu_category" data-category="tu-bep">
                            <p>Tủ bếp</p>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </li>
                    <li>
                        <div class="menu_category" data-category="phong-an">
                            <p>Phòng ăn</p>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="sub_category_wrapper">
                <div class="category_list" id="phong-lam-viec">
                    <a class="category-item" href="productSearch.html">

                        <img src="https://product.hstatic.net/200000065946/product/pro_nau_noi_that_moho_ghe_bdc5094c1d0a4520b209c54ea88e10ba_master.jpg"
                             alt="img">
                        <p>Bàn làm việc</p>

                    </a>
                    <a class="category-item" href="productSearch.html">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG-buIdH3shs3NaAiqPwff0BSvhRDRVGKfaA&s"
                             alt="img">
                        <p>Ghế văn phòng</p>

                    </a>
                    <a class="category-item" href="productSearch.html">

                        <img src="https://product.hstatic.net/200000065946/product/pro_nau_noi_that_moho_ghe_bdc5094c1d0a4520b209c54ea88e10ba_master.jpg"
                             alt="img">
                        <p>Tủ-kệ</p>

                    </a>


                </div>
                <div class="category_list" id="phong-khach">
                    <a class="category-item" href="productSearch.html">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG-buIdH3shs3NaAiqPwff0BSvhRDRVGKfaA&s"
                             alt="img">
                        <p>Ghế Sofa</p>

                    </a>
                    <a class="category-item" href="productSearch.html">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG-buIdH3shs3NaAiqPwff0BSvhRDRVGKfaA&s"
                             alt="img">
                        <p>Bàn </p>

                    </a>
                </div>
                <div class="category_list" id="phong-ngu">
                </div>
                <div class="category_list" id="tu-bep">
                </div>
                <div class="category_list" id="phong-an">
                </div>
            </div>
        </div>
    </div>
    <script>
                function showContent(number) {

            var contentBlog = document.getElementById('content_blog');
            var contentBlogRating = document.getElementById('content_blog-rating');
            if (number === 1) {
                contentBlog.style.display = 'block'
                contentBlogRating.style.display = 'none'

            } else {
                contentBlogRating.style.display = 'block';
                contentBlog.style.display = 'none';

            }
        }
    </script>

    <script>
         var imgFeature = document.querySelector('.img-feature');
        var listImg = document.querySelectorAll('.list_img img');
        var btnPre = document.querySelector('.img_control-previous');
        var btnNext = document.querySelector('.img_control-next');
        var currentIndex = 0
        listImg.forEach((imgElement, index) => {
            imgElement.addEventListener('click', e => {
                updateImgByIndex(index)
            });
        });
        function updateImgByIndex(index) {
            //remove active class
            document.querySelectorAll('.list_img div').forEach(item => {
                item.classList.remove('active')
            }


            )
            currentIndex = index
            imgFeature.src = listImg[index].getAttribute('src');
            listImg[index].parentElement.classList.add('active')

        }
        btnPre.addEventListener('click', e => {
            if (currentIndex == 0) {
                currentIndex = listImg.length - 1
            } else {
                currentIndex--
            }
            updateImgByIndex(currentIndex)



        })
        btnNext.addEventListener('click', e => {
            if (currentIndex == listImg.length - 1) {
                currentIndex = 0
            } else {
                currentIndex++
            }
            updateImgByIndex(currentIndex)
        }

        )

        updateImgByIndex(0)
        // xu li js cho thong so ki thuat va noi dung
        function showContent(number) {

            var contentBlog = document.getElementById('content_blog');
            var contentBlogRating = document.getElementById('content_blog-rating');
            if (number === 1) {
                contentBlog.style.display = 'block'
                contentBlogRating.style.display = 'none'

            } else {
                contentBlogRating.style.display = 'block';
                contentBlog.style.display = 'none';

            }
        }

        function cmt(id){
        }
    </script>
</body>



<script src="~/assets/js/modal.js"></script>

</html>