@using API.Net.Models
@{
    ViewData["Title"] = "Home Page";
}
@{
    List<Product> productDate = (List<Product>)ViewBag.FlashSales;
    List<Product> productsPrice = (List<Product>)ViewBag.ProductsPrice;

    List<Product> productsBestSeller = (List<Product>)ViewBag.topSell;



}

<div class="body_home">


    <div class="main_container">



        <div class="block_top" id="block_top">

            <div class="top_slide">
                <div class="slides">

                    <img class="slide" src="./assets/images/slide/slide_3_img.jpeg">
                    <img class="slide"
                         src="https://theme.hstatic.net/200000796751/1001266995/14/slide_3_img.jpg?v=69">
                    <img class="slide"
                         src="https://theme.hstatic.net/200000796751/1001266995/14/slide_2_img.jpg?v=66">

                    <img class="slide" src="./assets/images/slide/slide_1_img.jpeg">



                </div>
                <div class="close_slides" onclick="closeSlider()">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>
            </div>

        </div>
       

        <div class="block_sale">
            <div class="sale_title">
                <div class="title-alpha">
                    <img src="https://cdn2.cellphones.com.vn/x/media/catalog/product/b/f/bf2024__title_flashsale.png"
                         alt="banner">
                </div>


            </div>
            <div class="product_list">
                @foreach (var pro in productDate)
                {
                    <div class="product_card" onclick="goToProDetail('@pro.ProductId')">
                        <div class="card_image">
                            <img src="@pro.Thumbnail" />
                        </div>
                        <div class="card_tilte">
                            <h4>@pro.Name</h4>
                        </div>

                        <p class="card_price-show"> @pro.FormatPrice(@pro.getPriceAfterDiscount()) </p>

                        <div class="card_price-discount">
                            <p class="card_price-through">@pro.FormatPrice(@pro.Price) </p>
                            <b>@pro.DiscountDefault %</b>
                        </div>


                        <div class="card_bottom">
                            <div class="card_vote">
                                <i class="fa-solid fa-star"></i>
                                <p class="magin-right">4.2</p>
                                <p>(
                                <p>187</p>)</p>

                            </div>
                            <div class="card_add-cart" data-product-id="@pro.ProductId"
                                 data-name="@pro.Name"
                                 data-price="@pro.Price"
                                 data-discount ="@pro.DiscountDefault"
                                 data-thumbnail="@pro.Thumbnail"
                                 data-quality="1">
                                <i class="fa-solid fa-cart-arrow-down"></i>

                            </div>

                        </div>

                    </div>
                }


            </div>
            
        </div>

        <div class="block_product bg-while">
            <div class="product_list_title">
                <h3>Sản phẩm bán chạy nhất</h3>


            </div>
            <div class="product_list sale_list">
                @foreach (var p in ViewBag.topSell)
                {
                    <div class="product_card" onclick="goToProDetail('@p.ProductId')" >
                        <div class="card_image">
                            <img src="@p.Thumbnail"
                                 alt="product">
                        </div>
                        <div class="card_tilte">
                            <h4>@p.Name</h4>
                        </div>

                        <p class="card_price-show"> @p.FormatPrice(@p.getPriceAfterDiscount()) </p>

                        <div class="card_price-discount">
                            <p class="card_price-through">@p.FormatPrice(@p.Price) </p>
                            <b>@p.DiscountDefault %</b>
                        </div>


                        <div class="card_bottom">
                            <div class="card_vote">
                                <i class="fa-solid fa-star"></i>
                                <p class="magin-right">4.2</p>
                                <p>(
                                <p>@p.QuanlityStock</p>)</p>

                            </div>
                            <div class="card_add-cart">
                                <i class="fa-solid fa-cart-arrow-down">

                                </i>

                            </div>

                        </div>

                    </div>
                }


            </div>
           
        </div>
        <div class="block_product bg-while">
            <div class="product_list_title">
                <h3>Full Combo Nội Thất</h3>


            </div>
            <div class="product_list sale_list">
                @foreach(var p in productsPrice)
                {
                    <div class="product_card" onclick="goToProDetail('@p.ProductId')">
                        <div class="card_image">
                            <img src="@p.Thumbnail"
                                 alt="product">
                        </div>
                        <div class="card_tilte">
                            <h4>@p.Name</h4>
                        </div>

                        <p class="card_price-show"> @p.FormatPrice(@p.getPriceAfterDiscount()) </p>

                        <div class="card_price-discount">
                            <p class="card_price-through">@p.FormatPrice(@p.Price) </p>
                            <b>@p.DiscountDefault %</b>
                        </div>


                        <div class="card_bottom">
                            <div class="card_vote">
                                <i class="fa-solid fa-star"></i>
                                <p class="magin-right">4.2</p>
                                <p>(
                                <p>@p.QuanlityStock</p>)</p>

                            </div>
                            <div class="card_add-cart">
                                <i class="fa-solid fa-cart-arrow-down">

                                </i>

                            </div>

                        </div>
                    </div>
                  

                }

            </div>
           
        </div>
        <!-- blog new  -->
       


    </div>
</div>


@section Scripts {
   <script>
        console.log('start')


        const buttons = document.querySelectorAll('.card_add-cart');

        var notyf = new Notyf();


        buttons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.stopPropagation(); // Ngăn sự kiện  lên cha

                console.log('start1')

                var productId = $(this).data("product-id");
                var name = $(this).data("name");
                var price = $(this).data("price");
                var discount = $(this).data("discount");
                var thumbnail = $(this).data("thumbnail");
                var quantity = 1

                console.log(productId + " " + name + " " + price + " " + discount + " " + thumbnail + " " + quantity);
                $.ajax({
                    url: '@Url.Action("AddToCart", "Cart")',
                    type: 'POST',
                    data: {
                        productId: productId,
                        name: name,
                        price: price,
                        discount: discount,
                        thumbnail: thumbnail,
                        quantity: quantity
                    },
                    success: function (response) {
                        notyf.success(response.message);
                    },
                    error: function () {
                        alert('Đã có lỗi xảy ra!');
                    }
                });
               
            });
        });

   </script>
   <script>
    function    goToProDetail(id){
                     var url = "/Products/Detail/"+id;
        window.location.href = url;


        }
   </script>
}


